OBG 系统需求整理（2014.5.5）
1. 前端
1.1 用户打开界面默认登录界面
1.2 用户可以选择管理员或者普通账户进行登录，用一个tab 进行区分
管理员登陆： AdminLogin 普通用户登陆：ClientLogin
1.3 用户第一次使用可以注册，注册成功后提示成功查看邮箱等待激活。（注册界面提示需要填写真实信息）
普通用户注册使用函数：UserBLO Registration，管理员使用 UserBLO AdminRegistration
1.4 激活功能只有管理员才能后台激活，激活后新注册用户可以使用
AdminActiveUser
1.5 此处可以选择忘记密码，之后会发送邮件进行找回
填写forget 邮箱之后发送邮件，ForgetPasswordRequest
1.6 找回密码需要一个界面
找回密码校验邮箱和唯一key，ValideCheckRequest 
用户自己修改密码调用，ResetPaswword
1.7 用户修改自己信息调用：UpdateUserInfo
1.8 获取所有用户列表：GetAllUsers

2. 管理员后台
2.1 默认跳转到管理员面板 登陆：AdminLogin
2.2 用户管理 列表所有用户，编辑用户信息，删除一个用户，激活一个用户（此处UI界面可以默认列表，列表带按钮直接激
删除用户调用：RemoveUserById 其他参考1
活，激活了的显示已经激活不允许点击），修改用户所在组
2.3 订单管理 订单列表，点击之后可以编辑，编辑所有订单信息，修改订单状态，提交编辑结果，删除订单 （逻辑代码OrderBLO）
2.4 产品管理 列出所有产品，点击可以编辑产品，编辑后提交修改，删除一个产品（有时间加一个搜索过滤功能） （逻辑代码ProductBLO）
2.5 分类管理 列出来所有分类，编辑一个分类名称，提交修改 （逻辑代码CategoryBLO）
2.6 权限管理 控制用户组所能访问的页面？这个需要斟酌 （逻辑代码PermissionBLO）
2.7 折扣管理 列出来所有当前折扣列表，修改折扣和对应组的名字。（此处必须组和折扣是对应的，组的名称不在此修改，
只修改折扣）（逻辑代码DiscountBLO）
2.8 用户组管理 列出来所有用户组，修改用户组名称。（逻辑代码OrderBLO）
2.9 默认列出所有区域价格。区域和价格编辑，增加区域，区域名称，对应价格，对现有的进行编辑和删除。 （逻辑代码RegionBLO）

3. 权限
3.1 高级用户可以看到一些高级产品    PermissionBLO


4. 流程
4.1 管理员登陆后进入后台，操作各2里面的内容
4.2 普通用户可以按着分类浏览，不同分类有不同的产品明列表，不同列表可以按着一些内容进行过滤筛选
4.3 针对一个商品填写数量之后可以直接提加入购物车 （这部分用session）
4.4 弹出已经加入购物车提示继续购物还是checkout，如果checkout 之后进入购物车 （还是session）
4.5 购物车可以进行编辑修改并最终提交。 （调用order 部分）
4.6 普通用户可以进入个人中心，编辑修改个人信息 （UserBLO 参考1）
4.7 普通用户可以查看自己历史订单，就是checkout 之后的内容，状态有是否完成了，是否已经发货等. 订单在没有（Order调用by id）

发出之前都可以进行修改
4.8 打折商品高亮显示出来 
4.9 登录之后产品tab 的数量是随着category 实际数量变化而变化的，动态显示
4.10 订单成功后会发送邮件到管理员账户
4.11 提交订单的时候有一个PO，这个忘记什么意思了。。。

5. 折扣字段使用的注意事项
待续。。